* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #87b2de;
}
.container {
    outline: 0;
    border: 2.5px solid black;
    border-radius: 25px;
    padding: 25px 32px 25px 32px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;  
    background-color: #ffffff;
    display: flex;
}
.container > div {
    flex-direction: row;
}
.hr {
    border-top: 5px solid black;
}

.header h2 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
  color: #f8922c;
}

.input-group {
    margin-bottom: 8px;
    margin-top: 8px;
}
.input-group > input {
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
    padding: 6px;
    border-radius: 5px;
    width: 100%;
}
.input-group > label {
    font-size: 17px;
}
.input-group > select {
    padding: 6px;
    border-radius: 7px;
    margin-left: 6px;
    margin-right: 6px;
}
.btn {
    padding: 9px;
    margin-top:5px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background-color: #f8922c;
    font-weight: bold;
    letter-spacing: 1.25px;
    color: #ffffff;
}

.btn:hover {
    background-color: #fabb7c;
    cursor: pointer;
}

/* #radio{
    border: 2px solid red;
} */

.radio {
    /* border: 2px solid green; */
    display: flex;
}
.radio > * {
    margin-left: 20px;;
}
.check {
    margin-top: 10px;
}